@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap);

@charset "UTF-8";

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 420px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 100vh;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  background: rgba(53, 73, 92, 0.8);
  -webkit-backdrop-filter: blur(59px);
          backdrop-filter: blur(59px);
  pointer-events: none;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

.popup__wrapper {
  display: block;
  min-height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__content {
  position: relative;
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__text img {
  width: 100%;
}

.popup__close {
  position: absolute;
  top: 50px;
  right: 50px;
  width: 70px;
  height: 70px;
  background-color: #fff;
  border-radius: 50%;
}

.header {
  position: relative;
  max-height: 1000px;
}

.header__container {
  position: relative;
  z-index: 5;
}

.header__logo {
  margin-right: 40px;
}

@supports (width: clamp( 9.5625rem , 4.8063118812rem  +  18.1188118812vw , 21rem )) {
  .header__logo {
    width: clamp( 9.5625rem , 4.8063118812rem  +  18.1188118812vw , 21rem );
  }
}

@supports not (width: clamp( 9.5625rem , 4.8063118812rem  +  18.1188118812vw , 21rem )) {
  .header__logo {
    width: calc(9.5625rem + 11.4375 * (100vw - 26.25rem) / 63.125);
  }
}

.header__logo img {
  width: 100%;
}

.header__slide img {
  width: 100%;
}

@supports (height: clamp( 31.25rem , 18.7227722772rem  +  47.7227722772vw , 61.375rem )) {
  .header__slide img {
    height: clamp( 31.25rem , 18.7227722772rem  +  47.7227722772vw , 61.375rem );
  }
}

@supports not (height: clamp( 31.25rem , 18.7227722772rem  +  47.7227722772vw , 61.375rem )) {
  .header__slide img {
    height: calc(31.25rem + 30.125 * (100vw - 26.25rem) / 63.125);
  }
}

.swiper {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu {
  padding-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (margin-bottom: clamp( 4.375rem , 2.2957920792rem  +  7.9207920792vw , 9.375rem )) {
  .menu {
    margin-bottom: clamp( 4.375rem , 2.2957920792rem  +  7.9207920792vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 4.375rem , 2.2957920792rem  +  7.9207920792vw , 9.375rem )) {
  .menu {
    margin-bottom: calc(4.375rem + 5 * (100vw - 26.25rem) / 63.125);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-right: clamp( 1.25rem , 0.9900990099rem  +  0.9900990099vw , 1.875rem )) {
  .menu__item:not(:last-child) {
    margin-right: clamp( 1.25rem , 0.9900990099rem  +  0.9900990099vw , 1.875rem );
  }
}

@supports not (margin-right: clamp( 1.25rem , 0.9900990099rem  +  0.9900990099vw , 1.875rem )) {
  .menu__item:not(:last-child) {
    margin-right: calc(1.25rem + 0.625 * (100vw - 26.25rem) / 63.125);
  }
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

@supports (font-size: clamp( 1rem , 0.6231098312rem  +  0.6078934971vw , 1.25rem )) {
  .menu__link {
    font-size: clamp( 1rem , 0.6231098312rem  +  0.6078934971vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.6231098312rem  +  0.6078934971vw , 1.25rem )) {
  .menu__link {
    font-size: calc(1rem + 0.25 * (100vw - 61.999375rem) / 41.125625);
  }
}

.menu__link::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (margin-left: clamp( 1.25rem , 0.9900990099rem  +  0.9900990099vw , 1.875rem )) {
  .menu__link::after {
    margin-left: clamp( 1.25rem , 0.9900990099rem  +  0.9900990099vw , 1.875rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , 0.9900990099rem  +  0.9900990099vw , 1.875rem )) {
  .menu__link::after {
    margin-left: calc(1.25rem + 0.625 * (100vw - 26.25rem) / 63.125);
  }
}

.menu__link:hover::after {
  background-color: #FF344D;
}

#myCanvas {
  width: 100%;
  position: relative;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

.music-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr;
  grid-template-columns: 0.3fr 1fr;
  -ms-grid-rows: 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr;
  margin-bottom: 14.375rem;
}

.music-header__button {
  margin-left: 50px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  background-color: #FF344D;
  border-radius: 50%;
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.24), 0 0 0 3px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.24), 0 0 0 3px rgba(255, 255, 255, 0.8);
}

@supports (width: clamp( 5rem , 3.2586633663rem  +  6.6336633663vw , 9.1875rem )) {
  .music-header__button {
    width: clamp( 5rem , 3.2586633663rem  +  6.6336633663vw , 9.1875rem );
  }
}

@supports not (width: clamp( 5rem , 3.2586633663rem  +  6.6336633663vw , 9.1875rem )) {
  .music-header__button {
    width: calc(5rem + 4.1875 * (100vw - 26.25rem) / 63.125);
  }
}

@supports (height: clamp( 5rem , 3.2586633663rem  +  6.6336633663vw , 9.1875rem )) {
  .music-header__button {
    height: clamp( 5rem , 3.2586633663rem  +  6.6336633663vw , 9.1875rem );
  }
}

@supports not (height: clamp( 5rem , 3.2586633663rem  +  6.6336633663vw , 9.1875rem )) {
  .music-header__button {
    height: calc(5rem + 4.1875 * (100vw - 26.25rem) / 63.125);
  }
}

.music-header__button._active::after {
  opacity: 0;
}

.music-header__button::after {
  content: "";
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

@supports (width: clamp( 9.375rem , 6.879950495rem  +  9.504950495vw , 15.375rem )) {
  .music-header__button::after {
    width: clamp( 9.375rem , 6.879950495rem  +  9.504950495vw , 15.375rem );
  }
}

@supports not (width: clamp( 9.375rem , 6.879950495rem  +  9.504950495vw , 15.375rem )) {
  .music-header__button::after {
    width: calc(9.375rem + 6 * (100vw - 26.25rem) / 63.125);
  }
}

@supports (height: clamp( 9.375rem , 6.879950495rem  +  9.504950495vw , 15.375rem )) {
  .music-header__button::after {
    height: clamp( 9.375rem , 6.879950495rem  +  9.504950495vw , 15.375rem );
  }
}

@supports not (height: clamp( 9.375rem , 6.879950495rem  +  9.504950495vw , 15.375rem )) {
  .music-header__button::after {
    height: calc(9.375rem + 6 * (100vw - 26.25rem) / 63.125);
  }
}

.music-header__text {
  color: #fff;
  font-weight: 700;
  height: 100px;
  margin-bottom: 0.9375rem;
}

@supports (font-size: clamp( 2rem , 1.7920792079rem  +  0.7920792079vw , 2.5rem )) {
  .music-header__text {
    font-size: clamp( 2rem , 1.7920792079rem  +  0.7920792079vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7920792079rem  +  0.7920792079vw , 2.5rem )) {
  .music-header__text {
    font-size: calc(2rem + 0.5 * (100vw - 26.25rem) / 63.125);
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  margin-top: auto;
  margin-bottom: 5.625rem;
}

.music-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-button-prev {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 3px;
  margin-right: 20px;
}

.swiper-button-next {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 3px;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #230123;
  padding: 4.375rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

@supports (width: clamp( 9.5625rem , 4.8063118812rem  +  18.1188118812vw , 21rem )) {
  .footer__logo {
    width: clamp( 9.5625rem , 4.8063118812rem  +  18.1188118812vw , 21rem );
  }
}

@supports not (width: clamp( 9.5625rem , 4.8063118812rem  +  18.1188118812vw , 21rem )) {
  .footer__logo {
    width: calc(9.5625rem + 11.4375 * (100vw - 26.25rem) / 63.125);
  }
}

.footer__sub-title {
  color: #fff;
  line-height: 1.2;
}

@supports (font-size: clamp( 1rem , 0.896039604rem  +  0.396039604vw , 1.25rem )) {
  .footer__sub-title {
    font-size: clamp( 1rem , 0.896039604rem  +  0.396039604vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.896039604rem  +  0.396039604vw , 1.25rem )) {
  .footer__sub-title {
    font-size: calc(1rem + 0.25 * (100vw - 26.25rem) / 63.125);
  }
}

.footer__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.nav-footer__item {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.nav-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-footer__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.875rem;
}

@supports (font-size: clamp( 1rem , 0.7920792079rem  +  0.7920792079vw , 1.5rem )) {
  .contacts-footer__item {
    font-size: clamp( 1rem , 0.7920792079rem  +  0.7920792079vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.7920792079rem  +  0.7920792079vw , 1.5rem )) {
  .contacts-footer__item {
    font-size: calc(1rem + 0.5 * (100vw - 26.25rem) / 63.125);
  }
}

.contacts-footer__item img {
  margin-right: 10px;
}

.contacts-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-footer__img:not(:last-child) {
  margin-right: 20px;
}

@supports (padding-top: clamp( 8.125rem , 6.8254950495rem  +  4.9504950495vw , 11.25rem )) {
  .efir {
    padding-top: clamp( 8.125rem , 6.8254950495rem  +  4.9504950495vw , 11.25rem );
  }
}

@supports not (padding-top: clamp( 8.125rem , 6.8254950495rem  +  4.9504950495vw , 11.25rem )) {
  .efir {
    padding-top: calc(8.125rem + 3.125 * (100vw - 26.25rem) / 63.125);
  }
}

@supports (padding-bottom: clamp( 8.4375rem , 7.6577970297rem  +  2.9702970297vw , 10.3125rem )) {
  .efir {
    padding-bottom: clamp( 8.4375rem , 7.6577970297rem  +  2.9702970297vw , 10.3125rem );
  }
}

@supports not (padding-bottom: clamp( 8.4375rem , 7.6577970297rem  +  2.9702970297vw , 10.3125rem )) {
  .efir {
    padding-bottom: calc(8.4375rem + 1.875 * (100vw - 26.25rem) / 63.125);
  }
}

.efir__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 2fr 0.8fr;
  grid-template-columns: 0.8fr 2fr 0.8fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 3.125rem;
  position: relative;
  z-index: 1;
}

.efir__card {
  position: relative;
  padding: 1.875rem 1.25rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.625rem;
}

.efir__inform {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.efir__title {
  font-weight: 700;
  margin-bottom: 3.125rem;
  color: #333;
}

@supports (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .efir__title {
    font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .efir__title {
    font-size: calc(2rem + 1 * (100vw - 26.25rem) / 63.125);
  }
}

.efir__title span {
  color: #FF344D;
  margin-left: 10px;
}

.efir__sub-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.25rem;
  color: #333;
}

.efir__text {
  line-height: 100%;
  text-align: center;
  margin-bottom: 4.375rem;
}

@supports (font-size: clamp( 1.25rem , 1.0420792079rem  +  0.7920792079vw , 1.75rem )) {
  .efir__text {
    font-size: clamp( 1.25rem , 1.0420792079rem  +  0.7920792079vw , 1.75rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.0420792079rem  +  0.7920792079vw , 1.75rem )) {
  .efir__text {
    font-size: calc(1.25rem + 0.5 * (100vw - 26.25rem) / 63.125);
  }
}

.efir__button {
  padding: 2.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFA3AE), to(#FF344D));
  background: -o-linear-gradient(#FFA3AE 0%, #FF344D 100%);
  background: linear-gradient(#FFA3AE 0%, #FF344D 100%);
  border-radius: 1.25rem;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (font-size: clamp( 1.25rem , 1.146039604rem  +  0.396039604vw , 1.5rem )) {
  .efir__button {
    font-size: clamp( 1.25rem , 1.146039604rem  +  0.396039604vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.146039604rem  +  0.396039604vw , 1.5rem )) {
  .efir__button {
    font-size: calc(1.25rem + 0.25 * (100vw - 26.25rem) / 63.125);
  }
}

.efir__button:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#FF4259), to(#FF8695));
  background: -o-linear-gradient(#FF4259 0%, #FF8695 100%);
  background: linear-gradient(#FF4259 0%, #FF8695 100%);
}

.card-efir__img {
  margin-bottom: 1.5625rem;
}

@supports (width: clamp( 3.125rem , 1.8254950495rem  +  4.9504950495vw , 6.25rem )) {
  .card-efir__img img {
    width: clamp( 3.125rem , 1.8254950495rem  +  4.9504950495vw , 6.25rem );
  }
}

@supports not (width: clamp( 3.125rem , 1.8254950495rem  +  4.9504950495vw , 6.25rem )) {
  .card-efir__img img {
    width: calc(3.125rem + 3.125 * (100vw - 26.25rem) / 63.125);
  }
}

@supports (height: clamp( 3.125rem , 1.8254950495rem  +  4.9504950495vw , 6.25rem )) {
  .card-efir__img img {
    height: clamp( 3.125rem , 1.8254950495rem  +  4.9504950495vw , 6.25rem );
  }
}

@supports not (height: clamp( 3.125rem , 1.8254950495rem  +  4.9504950495vw , 6.25rem )) {
  .card-efir__img img {
    height: calc(3.125rem + 3.125 * (100vw - 26.25rem) / 63.125);
  }
}

.card-efir__title {
  font-weight: 600;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 1.125rem , 1.073019802rem  +  0.198019802vw , 1.25rem )) {
  .card-efir__title {
    font-size: clamp( 1.125rem , 1.073019802rem  +  0.198019802vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.073019802rem  +  0.198019802vw , 1.25rem )) {
  .card-efir__title {
    font-size: calc(1.125rem + 0.125 * (100vw - 26.25rem) / 63.125);
  }
}

.card-efir__sub-title {
  font-weight: 500;
  color: #333;
  text-align: center;
}

@supports (font-size: clamp( 0.875rem , 0.771039604rem  +  0.396039604vw , 1.125rem )) {
  .card-efir__sub-title {
    font-size: clamp( 0.875rem , 0.771039604rem  +  0.396039604vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.771039604rem  +  0.396039604vw , 1.125rem )) {
  .card-efir__sub-title {
    font-size: calc(0.875rem + 0.25 * (100vw - 26.25rem) / 63.125);
  }
}

.card-efir__sub-title span {
  margin-left: 20px;
}

.about {
  padding-top: 5rem;
}

@supports (padding-bottom: clamp( 8.625rem , 7.1435643564rem  +  5.6435643564vw , 12.1875rem )) {
  .about {
    padding-bottom: clamp( 8.625rem , 7.1435643564rem  +  5.6435643564vw , 12.1875rem );
  }
}

@supports not (padding-bottom: clamp( 8.625rem , 7.1435643564rem  +  5.6435643564vw , 12.1875rem )) {
  .about {
    padding-bottom: calc(8.625rem + 3.5625 * (100vw - 26.25rem) / 63.125);
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  margin-bottom: 1.875rem;
  font-weight: 700;
  color: #333;
}

@supports (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .about__title {
    font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .about__title {
    font-size: calc(2rem + 1 * (100vw - 26.25rem) / 63.125);
  }
}

.about__title span {
  color: #FF344D;
}

.about__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__sub-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  line-height: 150%;
}

@supports (font-size: clamp( 1.25rem , 1.146039604rem  +  0.396039604vw , 1.5rem )) {
  .about__sub-title {
    font-size: clamp( 1.25rem , 1.146039604rem  +  0.396039604vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.146039604rem  +  0.396039604vw , 1.5rem )) {
  .about__sub-title {
    font-size: calc(1.25rem + 0.25 * (100vw - 26.25rem) / 63.125);
  }
}

.about__sub-title span {
  font-weight: 600;
}

.about__support {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__img {
  margin-bottom: 5.625rem;
}

@supports (width: clamp( 18.75rem , 11.9925742574rem  +  25.7425742574vw , 35rem )) {
  .about__img img {
    width: clamp( 18.75rem , 11.9925742574rem  +  25.7425742574vw , 35rem );
  }
}

@supports not (width: clamp( 18.75rem , 11.9925742574rem  +  25.7425742574vw , 35rem )) {
  .about__img img {
    width: calc(18.75rem + 16.25 * (100vw - 26.25rem) / 63.125);
  }
}

@supports (height: clamp( 13.375rem , 9.4504950495rem  +  14.9504950495vw , 22.8125rem )) {
  .about__img img {
    height: clamp( 13.375rem , 9.4504950495rem  +  14.9504950495vw , 22.8125rem );
  }
}

@supports not (height: clamp( 13.375rem , 9.4504950495rem  +  14.9504950495vw , 22.8125rem )) {
  .about__img img {
    height: calc(13.375rem + 9.4375 * (100vw - 26.25rem) / 63.125);
  }
}

.about__button {
  padding: 2.5rem 4.375rem;
  color: #FF344D;
  border: 2px solid #FF344D;
  border-radius: 0.3125rem 0;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about__button:hover {
  color: #fff;
  background: rgb(222, 19, 149);
  background: -o-radial-gradient(circle, rgb(222, 19, 149) 0%, rgb(255, 0, 0) 93%);
  background: radial-gradient(circle, rgb(222, 19, 149) 0%, rgb(255, 0, 0) 93%);
}

.team {
  padding: 5.3125rem 0;
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__title {
  font-weight: 700;
  color: #333;
  margin-bottom: 4.375rem;
}

@supports (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .team__title {
    font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .team__title {
    font-size: calc(2rem + 1 * (100vw - 26.25rem) / 63.125);
  }
}

.team__title span {
  color: #FF344D;
}

.team__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  gap: 3.125rem;
}

.card-team {
  -webkit-box-shadow: 0 0 4px rgba(163, 163, 163, 0.42);
          box-shadow: 0 0 4px rgba(163, 163, 163, 0.42);
}

.card-team__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
}

.card-team__img img {
  width: 100%;
}

.card-team__img::before {
  content: "loremdasdasdsqad";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF344D;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card-team__img:hover::before {
  opacity: 1;
}

.card-team__img:hover::after {
  bottom: -50px;
}

.card-team__img::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 40px);
  z-index: 5;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 40px;
  border-left-width: 40px;
  border-bottom: 40px solid #fff;
}

.card-team__title {
  margin-top: 1.875rem;
  font-size: 1.25rem;
  color: #ACACAC;
  text-align: center;
  margin-bottom: 0.625rem;
}

.card-team__sub-title {
  font-weight: 600;
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 2.1875rem;
  text-align: center;
}

.card-team__link {
  color: #3B569E;
  font-size: 1.25rem;
  text-align: center;
  margin-bottom: 3.125rem;
}

.friends {
  padding-top: 5rem;
}

@supports (padding-bottom: clamp( 10.625rem , 7.5061881188rem  +  11.8811881188vw , 18.125rem )) {
  .friends {
    padding-bottom: clamp( 10.625rem , 7.5061881188rem  +  11.8811881188vw , 18.125rem );
  }
}

@supports not (padding-bottom: clamp( 10.625rem , 7.5061881188rem  +  11.8811881188vw , 18.125rem )) {
  .friends {
    padding-bottom: calc(10.625rem + 7.5 * (100vw - 26.25rem) / 63.125);
  }
}

.friends__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friends__title {
  font-weight: 700;
  color: #333;
  margin-bottom: 3.125rem;
}

@supports (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .friends__title {
    font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.5841584158rem  +  1.5841584158vw , 3rem )) {
  .friends__title {
    font-size: calc(2rem + 1 * (100vw - 26.25rem) / 63.125);
  }
}

.friends__title span {
  color: #FF344D;
}

.friends__sub-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 6.25rem;
}

.friends__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem )) or (column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem ))) {
  .friends__images {
    -webkit-column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem );
       -moz-column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem );
            column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem )) or (column-gap: clamp( 0.625rem , -2.4938118812rem  +  11.8811881188vw , 8.125rem ))) {
  .friends__images {
    -webkit-column-gap: calc(0.625rem + 7.5 * (100vw - 26.25rem) / 63.125);
       -moz-column-gap: calc(0.625rem + 7.5 * (100vw - 26.25rem) / 63.125);
            column-gap: calc(0.625rem + 7.5 * (100vw - 26.25rem) / 63.125);
  }
}

.friends__images img {
  width: 30%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 600.99px) {
  .team__grid {
    -ms-grid-columns: (1fr)[1];
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 61.99875em) {
  .music-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }

  .music-header__button {
    margin: 0 4.375rem;
  }

  .music-header__nav {
    margin-bottom: 5rem;
  }

  .swiper-button-prev {
    margin-right: 0;
  }

  .menu__body {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    background: rgba(53, 73, 92, 0.8);
    -webkit-backdrop-filter: blur(59px);
            backdrop-filter: blur(59px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__body._active-menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

@supports (margin-bottom: clamp( 1.25rem , 0.2103960396rem  +  3.9603960396vw , 3.75rem )) {
    .menu__item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.2103960396rem  +  3.9603960396vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.2103960396rem  +  3.9603960396vw , 3.75rem )) {
    .menu__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 26.25rem) / 63.125);
    }
}

  .menu__link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

@supports (font-size: clamp( 1.25rem , 0.5743129107rem  +  3.3784354465vw , 2.5rem )) {
    .menu__link {
      font-size: clamp( 1.25rem , 0.5743129107rem  +  3.3784354465vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5743129107rem  +  3.3784354465vw , 2.5rem )) {
    .menu__link {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 36.999375);
    }
}

  .menu__link::after {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 100;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu span {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 80%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .nav-footer {
    display: none;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo {
    min-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__sub-title {
    text-align: center;
    margin-bottom: 2.1875rem;
  }

  .contacts-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .efir__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }

  .efir__inform {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  .about__support {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .about__sub-title {
    margin-bottom: 4.6875rem;
  }
}

@media (max-width: 47.99875em) {
  .music-header__text {
    text-align: center;
  }

  .friends__sub-title {
    display: none;
  }
}