@import url(https://fonts.googleapis.com/css?family=Montserrat:regular,500,600,700,900&display=swap);

@charset "UTF-8";

[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

@font-face {
  font-family: "icons";
  src: url("fonts/icons.eot?g8drq0");
  src: url("fonts/icons.eot?g8drq0#iefix") format("embedded-opentype"), url("fonts/icons.ttf?g8drq0") format("truetype"), url("fonts/icons.woff?g8drq0") format("woff"), url("fonts/icons.svg?g8drq0#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^=icon-],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-play:before {
  content: "\ea1c";
}

.icon-pause:before {
  content: "\ea1d";
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "Montserrat";
  font-size: 1.25rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Montserrat";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body::after {
  content: "";
  background: rgba(53, 73, 92, 0.8);
  -webkit-backdrop-filter: blur(59px);
  backdrop-filter: blur(59px);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.5s ease 0s;
  -o-transition: opacity 0.5s ease 0s;
  transition: opacity 0.5s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.5s ease 0s;
  -o-transition: visibility 0.5s ease 0s;
  transition: visibility 0.5s ease 0s;
  visibility: hidden;
  pointer-events: none;
  z-index: 1;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: #eee;
  width: 100%;
  max-width: 900px;
  border-radius: 20px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__text img {
  width: 100%;
}

.popup__close {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 50%;
}

.popup__close i {
  font-size: 1.875rem;
}

body {
  background-color: #fff;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  position: relative;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 87.5rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 1.40625rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: #333;
}

::-webkit-scrollbar-thumb {
  background-color: #FF344D;
  border-radius: 1.25rem;
}

.container__card:last-child {
  margin: 0;
}

.container_card:last-child {
  margin-bottom: 0;
}

.container__row {
  width: 50%;
  height: 350px;
  margin-top: 230px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 80px 0 80px;
  text-align: center;
  z-index: 20;
}

.container__h1 {
  font-size: 48px;
  font-weight: 700;
  position: absolute;
  top: 180px;
  z-index: 20;
}

.container__h1_color {
  color: #FF344D;
}

.container__row_title {
  font-size: 32px;
  font-weight: 600;
  margin-top: 50px;
  margin-bottom: 20px;
  z-index: 20;
}

.container__row_subtitle {
  font-size: 28px;
  font-weight: 400;
  line-height: 34px;
  z-index: 20;
}

.container__button {
  width: 300px;
  height: 100px;
  border-radius: 20px;
  background: -o-linear-gradient(177.82deg, #FFA3AE -28.77%, #FF344D 110.42%);
  background: linear-gradient(272.18deg, #FFA3AE -28.77%, #FF344D 110.42%);
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  bottom: 200px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 20;
}

.container__button:hover {
  cursor: pointer;
}

.no-webp .container__card_coffe{
  background-image: url("./img/coffe.png"); }

.container__card_coffe {
  width: 100px;
  height: 100px;
  background-size: cover;
}

.container__card_aroundTitle {
  text-align: center;
  line-height: 130%;
  font-weight: 600;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 10px;
}

.container__card_aroundSub {
  font-weight: 500;
  font-size: 18px;
  text-align: center;
}

/* FOR ARSEN */

.container_block {
  width: 100%;
  height: 35px;
  background: #fff;
  opacity: 0;
}

#card1:hover .container_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-name: fadeblock;
          animation-name: fadeblock;
}

@-webkit-keyframes fadeblock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeblock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.no-webp .container__card_news{
  background-image: url("./img/mac.png"); }

.container__card_news {
  width: 100px;
  height: 72px;
  background-size: cover;
  position: relative;
}

.no-webp .container__card_doc{
  background-image: url("./img/doc.png"); }

.container__card_doc {
  width: 60px;
  height: 63px;
  background-size: cover;
  position: absolute;
  top: -30px;
  left: 22px;
}

#card3:hover .container__card_doc {
  -webkit-animation-duration: 0.8s;
          animation-duration: 0.8s;
  -webkit-animation-name: fadedoc;
          animation-name: fadedoc;
}

@-webkit-keyframes fadedoc {
  0% {
    top: -60px;
  }

  100% {
    top: -30px;
  }
}

@keyframes fadedoc {
  0% {
    top: -60px;
  }

  100% {
    top: -30px;
  }
}

.no-webp .container__card_about{
  background-image: url("./img/about.png"); }

.container__card_about {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: relative;
}

.no-webp .container__card_aboutMicro{
  background-image: url("./img/micro1.png"); }

.container__card_aboutMicro {
  width: 39px;
  height: 39px;
  background-size: cover;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

#card4:hover .container__card_aboutMicro {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: fadeabout;
          animation-name: fadeabout;
}

@-webkit-keyframes fadeabout {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes fadeabout {
  0% {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

.no-webp .container__card_micro{
  background-image: url("./img/micro.png"); }

.container__card_micro {
  width: 100px;
  height: 100px;
  background-size: cover;
  position: relative;
}

.container__card_micro div:nth-child(1) {
  width: 28px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  left: 0px;
  opacity: 0;
}

.container__card_micro div:nth-child(2) {
  width: 28px;
  height: 50px;
  background-color: #fff;
  position: absolute;
  right: 0px;
  opacity: 0;
}

#card2:hover .container__card_micro div {
  -webkit-animation-duration: 2.2s;
          animation-duration: 2.2s;
  -webkit-animation-name: fademicro;
          animation-name: fademicro;
}

@-webkit-keyframes fademicro {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fademicro {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.header {
  position: relative;
}

.header__container {
  position: relative;
  z-index: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin-right: 40px;
}

@supports (width: clamp( 9.375rem , 6.0683333333rem  +  16.5333333333vw , 21rem )) {
  .header__logo img {
    width: clamp( 9.375rem , 6.0683333333rem  +  16.5333333333vw , 21rem );
  }
}

@supports not (width: clamp( 9.375rem , 6.0683333333rem  +  16.5333333333vw , 21rem )) {
  .header__logo img {
    width: calc(9.375rem + 11.625 * (100vw - 20rem) / 70.3125);
  }
}

.header__slide img {
  width: 100%;
  height: 100%;
}

.swiper {
  position: absolute;
  max-width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.menu {
  padding-top: 2.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports (margin-bottom: clamp( 4.375rem , 2.9527777778rem  +  7.1111111111vw , 9.375rem )) {
  .menu {
    margin-bottom: clamp( 4.375rem , 2.9527777778rem  +  7.1111111111vw , 9.375rem );
  }
}

@supports not (margin-bottom: clamp( 4.375rem , 2.9527777778rem  +  7.1111111111vw , 9.375rem )) {
  .menu {
    margin-bottom: calc(4.375rem + 5 * (100vw - 20rem) / 70.3125);
  }
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@supports (margin-right: clamp( 1.25rem , 1.0722222222rem  +  0.8888888889vw , 1.875rem )) {
  .menu__item:not(:last-child) {
    margin-right: clamp( 1.25rem , 1.0722222222rem  +  0.8888888889vw , 1.875rem );
  }
}

@supports not (margin-right: clamp( 1.25rem , 1.0722222222rem  +  0.8888888889vw , 1.875rem )) {
  .menu__item:not(:last-child) {
    margin-right: calc(1.25rem + 0.625 * (100vw - 20rem) / 70.3125);
  }
}

.menu__link {
  text-transform: uppercase;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
}

@supports (font-size: clamp( 1rem , 0.6231098312rem  +  0.6078934971vw , 1.25rem )) {
  .menu__link {
    font-size: clamp( 1rem , 0.6231098312rem  +  0.6078934971vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.6231098312rem  +  0.6078934971vw , 1.25rem )) {
  .menu__link {
    font-size: calc(1rem + 0.25 * (100vw - 61.999375rem) / 41.125625);
  }
}

.menu__link::after {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

@supports (margin-left: clamp( 1.25rem , 1.0722222222rem  +  0.8888888889vw , 1.875rem )) {
  .menu__link::after {
    margin-left: clamp( 1.25rem , 1.0722222222rem  +  0.8888888889vw , 1.875rem );
  }
}

@supports not (margin-left: clamp( 1.25rem , 1.0722222222rem  +  0.8888888889vw , 1.875rem )) {
  .menu__link::after {
    margin-left: calc(1.25rem + 0.625 * (100vw - 20rem) / 70.3125);
  }
}

.menu__link:hover::after {
  background-color: #FF344D;
}

#myCanvas {
  width: 100%;
  position: relative;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
}

.music-header {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.3fr 1fr;
  grid-template-columns: 0.3fr 1fr;
  -ms-grid-rows: 0.2fr 1fr;
  grid-template-rows: 0.2fr 1fr;
}

.music-header__button {
  margin-left: 50px;
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  background-color: #ce0000;
  border-radius: 50%;
  z-index: 5;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  color: #fff;
  -webkit-box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.24), 0 0 0 3px rgba(255, 255, 255, 0.8);
          box-shadow: 0 0 0 30px rgba(255, 255, 255, 0.24), 0 0 0 3px rgba(255, 255, 255, 0.8);
}

@supports (width: clamp( 5rem , 3.8088888889rem  +  5.9555555556vw , 9.1875rem )) {
  .music-header__button {
    width: clamp( 5rem , 3.8088888889rem  +  5.9555555556vw , 9.1875rem );
  }
}

@supports not (width: clamp( 5rem , 3.8088888889rem  +  5.9555555556vw , 9.1875rem )) {
  .music-header__button {
    width: calc(5rem + 4.1875 * (100vw - 20rem) / 70.3125);
  }
}

@supports (height: clamp( 5rem , 3.8088888889rem  +  5.9555555556vw , 9.1875rem )) {
  .music-header__button {
    height: clamp( 5rem , 3.8088888889rem  +  5.9555555556vw , 9.1875rem );
  }
}

@supports not (height: clamp( 5rem , 3.8088888889rem  +  5.9555555556vw , 9.1875rem )) {
  .music-header__button {
    height: calc(5rem + 4.1875 * (100vw - 20rem) / 70.3125);
  }
}

@supports (font-size: clamp( 2.5rem , 2.1444444444rem  +  1.7777777778vw , 3.75rem )) {
  .music-header__button {
    font-size: clamp( 2.5rem , 2.1444444444rem  +  1.7777777778vw , 3.75rem );
  }
}

@supports not (font-size: clamp( 2.5rem , 2.1444444444rem  +  1.7777777778vw , 3.75rem )) {
  .music-header__button {
    font-size: calc(2.5rem + 1.25 * (100vw - 20rem) / 70.3125);
  }
}

.music-header__button img {
  width: 100px;
  height: 100px;
}

.music-header__button._active::after {
  opacity: 0;
}

.music-header__button::after {
  content: "";
  position: absolute;
  z-index: 0;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

@supports (width: clamp( 9.375rem , 7.6683333333rem  +  8.5333333333vw , 15.375rem )) {
  .music-header__button::after {
    width: clamp( 9.375rem , 7.6683333333rem  +  8.5333333333vw , 15.375rem );
  }
}

@supports not (width: clamp( 9.375rem , 7.6683333333rem  +  8.5333333333vw , 15.375rem )) {
  .music-header__button::after {
    width: calc(9.375rem + 6 * (100vw - 20rem) / 70.3125);
  }
}

@supports (height: clamp( 9.375rem , 7.6683333333rem  +  8.5333333333vw , 15.375rem )) {
  .music-header__button::after {
    height: clamp( 9.375rem , 7.6683333333rem  +  8.5333333333vw , 15.375rem );
  }
}

@supports not (height: clamp( 9.375rem , 7.6683333333rem  +  8.5333333333vw , 15.375rem )) {
  .music-header__button::after {
    height: calc(9.375rem + 6 * (100vw - 20rem) / 70.3125);
  }
}

.music-header__text {
  color: #fff;
  font-weight: 700;
  height: 100px;
  margin-bottom: 0.9375rem;
}

@supports (font-size: clamp( 1.25rem , 0.8944444444rem  +  1.7777777778vw , 2.5rem )) {
  .music-header__text {
    font-size: clamp( 1.25rem , 0.8944444444rem  +  1.7777777778vw , 2.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 0.8944444444rem  +  1.7777777778vw , 2.5rem )) {
  .music-header__text {
    font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 70.3125);
  }
}

.header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
  margin-bottom: 5.625rem;
}

.music-header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.swiper-button-prev {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
  border-radius: 3px;
  margin-right: 20px;
}

.swiper-button-next {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 40px solid rgba(255, 255, 255, 0.8);
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  border-radius: 3px;
}

.icon-menu {
  display: none;
}

.footer {
  background-color: #230123;
  padding: 4.375rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33%;
          flex: 0 0 33%;
}

.footer__sub-title {
  color: #fff;
  line-height: 1.2;
}

@supports (font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem )) {
  .footer__sub-title {
    font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem )) {
  .footer__sub-title {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.footer__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.nav-footer__item {
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
}

.nav-footer__item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.nav-footer__item:hover {
  cursor: pointer;
}

.contacts-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-footer__title {
  font-size: 2rem;
  color: #fff;
  font-weight: 600;
  margin-bottom: 1.875rem;
}

.contacts-footer__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.5rem;
  font-weight: 400;
  color: #fff;
  margin-bottom: 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__item i {
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  font-size: 1.875rem;
  margin-right: 20px;
}

.contacts-footer__item:hover {
  color: #FF344D;
}

.contacts-footer__item:hover i {
  color: #FF344D;
}

.contacts-footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.contacts-footer__img {
  width: 50px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.625rem;
  border-radius: 50%;
  background-color: #fff;
  color: #230123;
  font-size: 1.875rem;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contacts-footer__img:hover {
  background-color: #230123;
  color: #FF344D;
}

.contacts-footer__img:not(:last-child) {
  margin-right: 30px;
}

@supports (width: clamp( 11.875rem , 9.2794444444rem  +  12.9777777778vw , 21rem )) {
  .footer__logo img {
    width: clamp( 11.875rem , 9.2794444444rem  +  12.9777777778vw , 21rem );
  }
}

@supports not (width: clamp( 11.875rem , 9.2794444444rem  +  12.9777777778vw , 21rem )) {
  .footer__logo img {
    width: calc(11.875rem + 9.125 * (100vw - 20rem) / 70.3125);
  }
}

@supports (padding-top: clamp( 2.5rem , 0.0111111111rem  +  12.4444444444vw , 11.25rem )) {
  .efir {
    padding-top: clamp( 2.5rem , 0.0111111111rem  +  12.4444444444vw , 11.25rem );
  }
}

@supports not (padding-top: clamp( 2.5rem , 0.0111111111rem  +  12.4444444444vw , 11.25rem )) {
  .efir {
    padding-top: calc(2.5rem + 8.75 * (100vw - 20rem) / 70.3125);
  }
}

@supports (padding-bottom: clamp( 5rem , 3.4888888889rem  +  7.5555555556vw , 10.3125rem )) {
  .efir {
    padding-bottom: clamp( 5rem , 3.4888888889rem  +  7.5555555556vw , 10.3125rem );
  }
}

@supports not (padding-bottom: clamp( 5rem , 3.4888888889rem  +  7.5555555556vw , 10.3125rem )) {
  .efir {
    padding-bottom: calc(5rem + 5.3125 * (100vw - 20rem) / 70.3125);
  }
}

.efir__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.8fr 2fr 0.8fr;
  grid-template-columns: 0.8fr 2fr 0.8fr;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  gap: 3.125rem;
  position: relative;
  z-index: 1;
}

.efir__inform {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-row-span: 2;
  grid-row-end: 3;
  -ms-grid-column: 2;
      grid-column-start: 2;
  -ms-grid-column-span: 1;
  grid-column-end: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.efir__title {
  font-weight: 700;
  margin-bottom: 3.125rem;
  color: #333;
  text-align: center;
}

@supports (font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem )) {
  .efir__title {
    font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem )) {
  .efir__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 70.3125);
  }
}

.efir__title span {
  color: #FF344D;
  margin-left: 10px;
}

.efir__sub-title {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2.5rem;
  color: #333;
}

.efir__text {
  line-height: 120%;
  font-weight: 400;
  text-align: center;
  margin-bottom: 4.375rem;
}

@supports (font-size: clamp( 1rem , 0.8933333333rem  +  0.5333333333vw , 1.375rem )) {
  .efir__text {
    font-size: clamp( 1rem , 0.8933333333rem  +  0.5333333333vw , 1.375rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.8933333333rem  +  0.5333333333vw , 1.375rem )) {
  .efir__text {
    font-size: calc(1rem + 0.375 * (100vw - 20rem) / 70.3125);
  }
}

.efir__button {
  padding: 2.25rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFA3AE), to(#FF344D));
  background: -o-linear-gradient(#FFA3AE 0%, #FF344D 100%);
  background: linear-gradient(#FFA3AE 0%, #FF344D 100%);
  border-radius: 1.25rem;
  color: #fff;
  font-weight: 600;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

@supports (font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem )) {
  .efir__button {
    font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem )) {
  .efir__button {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.card-efir {
  position: relative;
  padding: 1.875rem 1.25rem;
  -webkit-box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
          box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 0.625rem;
}

.card-efir__img {
  margin-bottom: 1.5625rem;
}

@supports (width: clamp( 3.75rem , 3.0388888889rem  +  3.5555555556vw , 6.25rem )) {
  .card-efir__img img {
    width: clamp( 3.75rem , 3.0388888889rem  +  3.5555555556vw , 6.25rem );
  }
}

@supports not (width: clamp( 3.75rem , 3.0388888889rem  +  3.5555555556vw , 6.25rem )) {
  .card-efir__img img {
    width: calc(3.75rem + 2.5 * (100vw - 20rem) / 70.3125);
  }
}

@supports (height: clamp( 3.75rem , 3.0388888889rem  +  3.5555555556vw , 6.25rem )) {
  .card-efir__img img {
    height: clamp( 3.75rem , 3.0388888889rem  +  3.5555555556vw , 6.25rem );
  }
}

@supports not (height: clamp( 3.75rem , 3.0388888889rem  +  3.5555555556vw , 6.25rem )) {
  .card-efir__img img {
    height: calc(3.75rem + 2.5 * (100vw - 20rem) / 70.3125);
  }
}

.card-efir__title {
  font-weight: 600;
  margin-bottom: 0.625rem;
  line-height: 140%;
  text-align: center;
}

@supports (font-size: clamp( 1.125rem , 1.0894444444rem  +  0.1777777778vw , 1.25rem )) {
  .card-efir__title {
    font-size: clamp( 1.125rem , 1.0894444444rem  +  0.1777777778vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1.125rem , 1.0894444444rem  +  0.1777777778vw , 1.25rem )) {
  .card-efir__title {
    font-size: calc(1.125rem + 0.125 * (100vw - 20rem) / 70.3125);
  }
}

.card-efir__sub-title {
  font-weight: 500;
  color: #333;
  text-align: center;
}

@supports (font-size: clamp( 0.875rem , 0.8038888889rem  +  0.3555555556vw , 1.125rem )) {
  .card-efir__sub-title {
    font-size: clamp( 0.875rem , 0.8038888889rem  +  0.3555555556vw , 1.125rem );
  }
}

@supports not (font-size: clamp( 0.875rem , 0.8038888889rem  +  0.3555555556vw , 1.125rem )) {
  .card-efir__sub-title {
    font-size: calc(0.875rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.card-efir__sub-title span {
  margin-left: 20px;
}

.about {
  padding-bottom: 4.375rem;
}

@supports (padding-top: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem )) {
  .about {
    padding-top: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem )) {
  .about {
    padding-top: calc(1.25rem + 4.0625 * (100vw - 20rem) / 70.3125);
  }
}

.about__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__title {
  margin-bottom: 1.875rem;
  font-weight: 700;
  color: #333;
}

@supports (font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem )) {
  .about__title {
    font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem )) {
  .about__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 70.3125);
  }
}

.about__title span {
  color: #FF344D;
}

.about__inform {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__sub-title {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  line-height: 150%;
}

@supports (font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem )) {
  .about__sub-title {
    font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem )) {
  .about__sub-title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.about__sub-title span {
  font-weight: 600;
}

.about__support {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about__img {
  margin-bottom: 5.625rem;
}

@supports (width: clamp( 20.5rem , 16.3755555556rem  +  20.6222222222vw , 35rem )) {
  .about__img img {
    width: clamp( 20.5rem , 16.3755555556rem  +  20.6222222222vw , 35rem );
  }
}

@supports not (width: clamp( 20.5rem , 16.3755555556rem  +  20.6222222222vw , 35rem )) {
  .about__img img {
    width: calc(20.5rem + 14.5 * (100vw - 20rem) / 70.3125);
  }
}

@supports (height: clamp( 13.375rem , 10.6905555556rem  +  13.4222222222vw , 22.8125rem )) {
  .about__img img {
    height: clamp( 13.375rem , 10.6905555556rem  +  13.4222222222vw , 22.8125rem );
  }
}

@supports not (height: clamp( 13.375rem , 10.6905555556rem  +  13.4222222222vw , 22.8125rem )) {
  .about__img img {
    height: calc(13.375rem + 9.4375 * (100vw - 20rem) / 70.3125);
  }
}

.about__button {
  padding: 2.5rem 6.25rem;
  color: #FF344D;
  border: 2px solid #FF344D;
  border-radius: 0.3125rem 0;
  font-size: 1.5rem;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.about__button:hover {
  color: #fff;
  background: rgb(222, 19, 149);
  background: -o-radial-gradient(circle, rgb(222, 19, 149) 0%, rgb(255, 0, 0) 93%);
  background: radial-gradient(circle, rgb(222, 19, 149) 0%, rgb(255, 0, 0) 93%);
}

@supports (padding-top: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem )) {
  .team {
    padding-top: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem );
  }
}

@supports not (padding-top: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem )) {
  .team {
    padding-top: calc(1.25rem + 4.0625 * (100vw - 20rem) / 70.3125);
  }
}

@supports (padding-bottom: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem )) {
  .team {
    padding-bottom: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem );
  }
}

@supports not (padding-bottom: clamp( 1.25rem , 0.0944444444rem  +  5.7777777778vw , 5.3125rem )) {
  .team {
    padding-bottom: calc(1.25rem + 4.0625 * (100vw - 20rem) / 70.3125);
  }
}

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.team__title {
  font-weight: 700;
  color: #333;
  text-align: center;
  line-height: 130%;
}

@supports (font-size: clamp( 1.40625rem , 0.9529166667rem  +  2.2666666667vw , 3rem )) {
  .team__title {
    font-size: clamp( 1.40625rem , 0.9529166667rem  +  2.2666666667vw , 3rem );
  }
}

@supports not (font-size: clamp( 1.40625rem , 0.9529166667rem  +  2.2666666667vw , 3rem )) {
  .team__title {
    font-size: calc(1.40625rem + 1.59375 * (100vw - 20rem) / 70.3125);
  }
}

@supports (margin-bottom: clamp( 2.1875rem , 1.5652777778rem  +  3.1111111111vw , 4.375rem )) {
  .team__title {
    margin-bottom: clamp( 2.1875rem , 1.5652777778rem  +  3.1111111111vw , 4.375rem );
  }
}

@supports not (margin-bottom: clamp( 2.1875rem , 1.5652777778rem  +  3.1111111111vw , 4.375rem )) {
  .team__title {
    margin-bottom: calc(2.1875rem + 2.1875 * (100vw - 20rem) / 70.3125);
  }
}

.team__title span {
  color: #FF344D;
}

.team__grid {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.card-team {
  min-width: 30%;
  -webkit-box-shadow: 0 0 4px rgba(163, 163, 163, 0.42);
          box-shadow: 0 0 4px rgba(163, 163, 163, 0.42);
}

.card-team__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  overflow: hidden;
  width: 100%;
}

@supports (height: clamp( 19.5625rem , 17.3047222222rem  +  11.2888888889vw , 27.5rem )) {
  .card-team__img {
    height: clamp( 19.5625rem , 17.3047222222rem  +  11.2888888889vw , 27.5rem );
  }
}

@supports not (height: clamp( 19.5625rem , 17.3047222222rem  +  11.2888888889vw , 27.5rem )) {
  .card-team__img {
    height: calc(19.5625rem + 7.9375 * (100vw - 20rem) / 70.3125);
  }
}

.card-team__img img {
  width: 100%;
  height: 100%;
}

.card-team__img picture {
  width: 100%;
  height: 100%;
}

.card-team__img picture img {
  width: 100%;
  height: 100%;
}

.card-team__img::before {
  content: "loremdasdasdsqad";
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #fff;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #FF344D;
  z-index: 10;
  opacity: 0;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}

.card-team__img:hover::before {
  opacity: 1;
}

.card-team__img:hover::after {
  bottom: -50px;
}

.card-team__img::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: calc(50% - 40px);
  z-index: 5;
  -webkit-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
  width: 0;
  height: 0;
  border: 0 solid transparent;
  border-right-width: 40px;
  border-left-width: 40px;
  border-bottom: 40px solid #fff;
}

.card-team__title {
  margin-top: 1.875rem;
  color: #ACACAC;
  text-align: center;
  margin-bottom: 0.625rem;
}

@supports (font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem )) {
  .card-team__title {
    font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem )) {
  .card-team__title {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.card-team__sub-title {
  font-weight: 600;
  color: #333;
  margin-bottom: 2.1875rem;
  text-align: center;
}

@supports (font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem )) {
  .card-team__sub-title {
    font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem );
  }
}

@supports not (font-size: clamp( 1.25rem , 1.1788888889rem  +  0.3555555556vw , 1.5rem )) {
  .card-team__sub-title {
    font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.card-team__link {
  color: #3B569E;
  text-align: center;
  margin-bottom: 3.125rem;
}

@supports (font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem )) {
  .card-team__link {
    font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem );
  }
}

@supports not (font-size: clamp( 1rem , 0.9288888889rem  +  0.3555555556vw , 1.25rem )) {
  .card-team__link {
    font-size: calc(1rem + 0.25 * (100vw - 20rem) / 70.3125);
  }
}

.friends {
  padding-top: 5rem;
}

@supports (padding-bottom: clamp( 10.625rem , 8.4916666667rem  +  10.6666666667vw , 18.125rem )) {
  .friends {
    padding-bottom: clamp( 10.625rem , 8.4916666667rem  +  10.6666666667vw , 18.125rem );
  }
}

@supports not (padding-bottom: clamp( 10.625rem , 8.4916666667rem  +  10.6666666667vw , 18.125rem )) {
  .friends {
    padding-bottom: calc(10.625rem + 7.5 * (100vw - 20rem) / 70.3125);
  }
}

.friends__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.friends__title {
  font-weight: 700;
  color: #333;
  margin-bottom: 3.125rem;
}

@supports (font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem )) {
  .friends__title {
    font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem );
  }
}

@supports not (font-size: clamp( 2rem , 1.7155555556rem  +  1.4222222222vw , 3rem )) {
  .friends__title {
    font-size: calc(2rem + 1 * (100vw - 20rem) / 70.3125);
  }
}

.friends__title span {
  color: #FF344D;
}

.friends__sub-title {
  font-weight: 600;
  font-size: 2rem;
  margin-bottom: 6.25rem;
}

.friends__images {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@supports ((-moz-column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem )) or (column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem ))) {
  .friends__images {
    -webkit-column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem );
       -moz-column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem );
            column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem );
  }
}

@supports not ((-moz-column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem )) or (column-gap: clamp( 0.625rem , -1.5083333333rem  +  10.6666666667vw , 8.125rem ))) {
  .friends__images {
    -webkit-column-gap: calc(0.625rem + 7.5 * (100vw - 20rem) / 70.3125);
       -moz-column-gap: calc(0.625rem + 7.5 * (100vw - 20rem) / 70.3125);
            column-gap: calc(0.625rem + 7.5 * (100vw - 20rem) / 70.3125);
  }
}

.friends__images picture {
  width: 30%;
}

.friends__images picture img {
  width: 100%;
}

.friends__images img {
  width: 30%;
}

.friends__slide {
  max-width: 100% !important;
  height: 14.625rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.swiper1 {
  max-width: 100%;
  overflow: hidden;
}

.swiper-wrapper {
  -webkit-transition-timing-function: linear;
       -o-transition-timing-function: linear;
          transition-timing-function: linear;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

@media (max-width: 640.98px) {
  .team__grid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 399.98px) {
  .card-team {
    width: 100%;
  }

  .card-team__img {
    width: 100%;
  }
}

@media (max-width: 61.99875em) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }

  .music-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 0;
  }

  .music-header__button {
    margin: 0 4.375rem;
  }

  .music-header__nav {
    margin-bottom: 5rem;
  }

  .swiper-button-prev {
    margin-right: 0;
  }

  .menu__body {
    -webkit-transform: translateX(-100%);
        -ms-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: all 1s ease 0s;
    -o-transition: all 1s ease 0s;
    transition: all 1s ease 0s;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    z-index: 99;
    background: rgba(53, 73, 92, 0.8);
    -webkit-backdrop-filter: blur(59px);
            backdrop-filter: blur(59px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__body._active-menu {
    -webkit-transform: translateX(0%);
        -ms-transform: translateX(0%);
            transform: translateX(0%);
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__item:not(:last-child) {
    margin-right: 0;
  }

@supports (margin-bottom: clamp( 1.25rem , 0.5388888889rem  +  3.5555555556vw , 3.75rem )) {
    .menu__item:not(:last-child) {
      margin-bottom: clamp( 1.25rem , 0.5388888889rem  +  3.5555555556vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.25rem , 0.5388888889rem  +  3.5555555556vw , 3.75rem )) {
    .menu__item:not(:last-child) {
      margin-bottom: calc(1.25rem + 2.5 * (100vw - 20rem) / 70.3125);
    }
}

  .menu__link {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

@supports (font-size: clamp( 1.25rem , 0.5743129107rem  +  3.3784354465vw , 2.5rem )) {
    .menu__link {
      font-size: clamp( 1.25rem , 0.5743129107rem  +  3.3784354465vw , 2.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.5743129107rem  +  3.3784354465vw , 2.5rem )) {
    .menu__link {
      font-size: calc(1.25rem + 1.25 * (100vw - 20rem) / 36.999375);
    }
}

  .menu__link::after {
    display: none;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 100;
  }

  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu span {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 80%;
    height: 0.125rem;
    background-color: #fff;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .nav-footer {
    display: none;
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__sub-title {
    text-align: center;
    margin-bottom: 2.1875rem;
  }

  .contacts-footer {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .efir__container {
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr);
    gap: 1.875rem;
  }

  .efir__inform {
    -ms-grid-row: 3;
        grid-row-start: 3;
    -ms-grid-row-span: 1;
    grid-row-end: 4;
    -ms-grid-column: 1;
        grid-column-start: 1;
    -ms-grid-column-span: 2;
    grid-column-end: 3;
  }

  .about__support {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
  }

  .about__sub-title {
    margin-bottom: 4.6875rem;
  }
}

@media (max-width: 47.99875em) {
  .music-header__text {
    text-align: center;
  }

  .header__slide {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .header__slide img {
    width: auto !important;
    background-size: cover;
    height: 100%;
  }

  .footer {
    min-height: 100vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .friends__sub-title {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .contacts-footer__item {
    font-size: 1.0625rem;
  }

  .efir__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1.875rem;
  }

  .efir__sub-title {
    text-align: center;
  }

  .card-efir {
    width: 100%;
  }

  .about__img {
    width: 100%;
  }

  .about__img img {
    width: 100%;
  }

  .about__button {
    width: 100%;
    padding: 1.875rem 0;
  }
}

.webp .container__card_coffe{ background-image: url(./img/coffe.webp); }

.webp .container__card_news{ background-image: url(./img/mac.webp); }

.webp .container__card_doc{ background-image: url(./img/doc.webp); }

.webp .container__card_about{ background-image: url(./img/about.webp); }

.webp .container__card_aboutMicro{ background-image: url(./img/micro1.webp); }

.webp .container__card_micro{ background-image: url(./img/micro.webp); }