//====================================================================================================
.footer {
background-color: #230123;
padding: rem(70) 0;
    // .footer__container

    &__container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // .footer__logo

    &__logo {
        flex:  0 0 33%;
    }

    // .footer__sub-title

    &__sub-title {
        @include adaptiveValue("font-size", 20, 16);
        color: $mainWhite;
        line-height: math.div(24 , 20);
    }

    // .footer__title

    &__title {
        font-size: rem(32);
        color: $mainWhite;
        font-weight: 600;
        margin-bottom: rem(30);
    }

    // .footer__contacts

    &__contacts {
    }
}
.nav-footer {
    // .nav-footer__item

    &__item {
        font-size: rem(24);
        font-weight: 400;
        color: $mainWhite;
        &:not(:last-child){
            margin-bottom: rem(20);
        }
    }
}
.contacts-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    // .contacts-footer__title

    &__title {
        font-size: rem(32);
        color: $mainWhite;
        font-weight: 600;
        margin-bottom: rem(30);
    }

    // .contacts-footer__item

    &__item {
        font-size: rem(24);
        font-weight: 400;
        color: $mainWhite;
        & img {
            margin-right: 10px;
        }
        margin-bottom: rem(30);
      
    }

    // .contacts-footer__social

    &__social {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    // .contacts-footer__img

    &__img {
        margin-right: 20px;
    }
}
@media (max-width:$tablet){
    .nav-footer{
        display: none;
    }
    .footer__container{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer__logo{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center ;
    }
    .footer__sub-title{
        text-align: center;
        margin-bottom: rem(35);
    }
    .contacts-footer{
        align-items: center;
        justify-content: center;
    }
}
//====================================================================================================
